# ========================================
# Настройки для деплоя Selenium Grid 4
# ========================================

# Email адрес для регистрации бесплатных SSL-сертификатов Let's Encrypt (служебные уведомления об истечении, спама нет)
ACME_EMAIL=your_email@example.com

# Домен или поддомен вашего VDS сервера, на котором будет доступен Selenium Grid
DOMAIN_NAME=selenium.your-domain.com

# ========================================
# Basic Auth (Защита интерфейса и API)
# ========================================
# В docker-compose.yml пароль нельзя просто передать текстом. Он уже должен быть в зашифрованном виде (формат htpasswd)
# Сгенерировать его можно локально или на сервере командой (замените admin / password на ваши логин и пароль):
# 👉 htpasswd -nb admin password | sed -e s/\\$/\\$\\$/g
# Скопируйте получившуюся строку в переменную ниже (например, admin:$$apr1$$V4Y...):
BASIC_AUTH_HASH=admin:$$apr1$$c8Z5oJXZ$$jS/SOTsS8Q..
